#product__container {
  min-width: 30rem;
  min-height: 65rem;
  margin: 6rem auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0.25turn,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
}

#product-details__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -5rem;
}

#product-top {
  height: 10%;
  width: 90%;
  background: none;
}

#product-name__container {
  display: block;
  height: 100%;
  text-align: center;
  margin: 1.5rem auto;
}

#product-name {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'CooperBlack';
  font-weight: 400;
  color: #F36E33;
  border-bottom: 2px solid #F36E33;
}

#product-body {
  height: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#product-img__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#product-img {
  width: 67%;
  margin: 0 auto;
  cursor: pointer;
}

#product-bottom {
  height: 20%;
  background: none;
}

#product-price__container {
  display: block;
  height: auto;
  text-align: center;
  margin: 1rem auto;
}

#product-price {
  font-size: 1.75rem;
  font-family: 'Franklin Gothic Std', sans-serif;
}

#add-btn__container {
  display: block;
  height: auto;
  text-align: center;
  background: none;
}

#add-to-cart-btn {
  font-size: 2rem;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  background-color: #fdca77;
  transition: transform 0.2s ease;
  height: 8rem;
  width: 16rem;
  margin: 1rem auto;
  font-family: 'Franklin Gothic Std', sans-serif;
}

#add-to-cart-btn:hover {
  background-color: #fbcc80;
  transform: scale(1.05);
}

#add-to-cart-btn:active {
  transform: scale(0.95);
  background-color: #ffc86f;
}

#view-details-btn__container {
  display: block;
  height: auto;
  text-align: center;
  background: none;
}

#view-details-btn {
  border: none;
  margin: 1rem auto;
  border-radius: 4px;
  font-size: 1.75rem;
  font-weight: 400;
  width: 16rem;
  height: 6rem;
  background-color: #fde7c0;
  transition: transform 0.2s ease;
  font-family: 'Franklin Gothic Std', sans-serif;
}

#view-details-btn:hover {
  transform: scale(1.05);
}

#view-details-btn:active {
  background-color: #ffdea4;
  transform: scale(0.95);
}

/*
#fde7c0;
#FFE4B5;
#ffdea4;
*/

/*
#fbcc80;
#fdca77;
#ffc86f;
*/

@media only screen and (min-width: 920px) {
  #product__container {
    width: 30rem;
    height: 50rem;
    margin: 6rem auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: linear-gradient(0.25turn,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
  }

  #add-to-cart-btn,
  #view-details-btn {
    width: 14rem;
    height: 5rem;
  }

  #product-price {
    font-size: 1.3rem;
  }
}