#product__container {
  width: 100%;
  height: auto;
}

#product-name__container {}

#product-name {}

#product-img__container {}

#product-img {
  width: 25%;
}

#product-price__container {}

#product-price {}

#add-btn__container {}

#add-to-cart-btn {}
