#product__container {
  width: 30rem;
  height: auto;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
}

#product-name__container {
  display: block;
  height: auto;
  text-align: center;
}

#product-name {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

#product-img__container {}

#product-img {
  width: 25%;
}

#product-price__container {
  display: block;
  height: auto;
  text-align: center;
}

#product-price {
  font-size: 1.25rem;
}

#add-btn__container {
  display: block;
  height: auto;
  text-align: center;
}

#add-to-cart-btn {}

#view-details-btn__container {
  display: block;
  height: auto;
  text-align: center;
}

#view-details-btn {}
