#update-password-loading {}

#update-password-loading-text {}

#update-password__container {
  margin: 4rem auto;
}

#update-password-header {
  font-size: 2.5rem;
  font-family: 'CooperBlack';
  font-weight: 400;
  margin: 4rem auto;
  text-align: center;
  color: #F36E33;
}

#update-password-form {
  margin: 0 auto;
  text-align: center;
}

.update-input {
  display: block;
  border: none;
  box-shadow: 0 0 3px black;
  border-radius: 4px;
  font-size: 2.5rem;
  margin: 3.5rem auto;
  padding: 0.75rem 1.25rem;
}

#update-password-btn {
  border: none;
  border-radius: 5px;
  font-size: 2.5rem;
  width: 16rem;
  height: 9rem;
  box-shadow: 0 0 3px black;
  background: #fdca77;
  color: black;
  font-family: 'Franklin Gothic Std';
  margin: 2rem auto;
}

@media only screen and (min-width: 920px) {
  #update-password-loading {}

  #update-password-loading-text {}

  #update-password__container {
    margin: 7rem auto;
  }

  #update-password-header {
    font-size: 2.5rem;
    font-family: 'CooperBlack';
    font-weight: 400;
    margin: 4rem auto;
    text-align: center;
    color: #F36E33;
  }

  #update-password-form {
    margin: 0 auto;
    text-align: center;
  }

  .update-input {
    display: block;
    border: none;
    box-shadow: 0 0 3px black;
    border-radius: 4px;
    font-size: 1.75rem;
    margin: 3.5rem auto;
    padding: 0.75rem 1.25rem;
  }

  #update-password-btn {
    border: none;
    border-radius: 5px;
    font-size: 1.75rem;
    width: 15rem;
    height: 5rem;
    box-shadow: 0 0 3px black;
    background: #fdca77;
    color: black;
    font-family: 'Franklin Gothic Std';
    margin: 2rem auto;
    transition: transform 0.2s ease 0;
  }

  #update-password-btn:hover {
    background: #ffd188;
    transform: scale(1.05);
  }

  #update-password-btn:active {
    background: #fac36a;
    transform: scale(0.95);
  }
}