#header__container {
  margin: 0 auto;
  width: 100%;
  height: 60rem;
  display: block;
  z-index: 5;
}

#hero-img__container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
}

#hero-img {
  z-index: 5;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  #header__container {
    margin: 0 auto;
    width: 100%;
    height: 60rem;
    display: block;
    z-index: 5;
    background-image: url('../../../assets/images/hero_4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  #hero-img__container {
    width: 100%;
    height: auto;
    display: block;
  }
  
  #hero-img {
    display: none;
    z-index: 1;
    width: 100%;
    height: auto;
    position: absolute;
    top: 10rem;
    right: -13rem;
  }
}
