#order__container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#order-left__container {
  margin-left: auto;
  width: 48%;
}

#order-header {
  font-size: 3rem;
  font-weight: 600;
  color: #6DABA3;
}

#order-details__container {
  margin: 2rem auto;
}

#order-date-text {
  font-size: 2rem;
}

#order-number-text {
  display: block;
  margin: 1.5rem auto;
  font-size: 2rem;
}

#order-contact__container {
  margin: 2rem auto;
}

#order-details-header {
  font-size: 2.25rem;
  font-weight: 600;
  display: block;
  color: #6DABA3;
}

#order-name {
  font-size: 2rem;
  display: block;
  margin: 1rem auto;
}

#order-email {
  font-size: 2rem;
  display: block;
  margin: 1rem auto;
}

#order-phone {
  font-size: 2rem;
}

#order-shipping__container {}

#order-eta {
  font-size: 2rem;
}

#order-address-header {
  display: block;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 1rem auto;
  color: #6DABA3;
}

#order-address-street {
  font-size: 2rem;
  display: block;
}

#order-address-city {
  font-size: 2rem;
  display: block;
}

#order-address-zipCode {
  font-size: 2rem;
  display: block;
}

#order-address-state {
  font-size: 2rem;
  display: block;
}

#order-address-country {
  font-size: 2rem;
  display: block;
}

#order-right__container {
  margin-right: auto;
  width: 50%;
}

#order-items__container {
  margin: 2rem auto;
}

#order-items-text {
  font-size: 2.25rem;
  font-weight: 600;
  display: block;
  color: #6DABA3;
}

#view-purchased-products-btn {
  background-color: #FFE4B5;
  font-size: 1.5rem;
  width: 14rem;
  height: 5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
  transition: transform 0.2s ease;
  margin: 2rem auto;
}

#view-purchased-products-btn:hover {
  background-color: #fde7c0;
}

#view-purchased-products-btn:active {
  transform: scale(0.95);
  background-color: #ffdea4;
}

#purchased-products__container {}

@media only screen and (max-width: 720px) {
  #order__container {
    flex-direction: column;
  }

  #order-left__container {
    display: block;
    width: 80%;
    margin: 2rem auto;
  }

  #order-right__container {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  #view-purchased-products-btn {
    background-color: #FFE4B5;
    font-size: 1.75rem;
    width: 15rem;
    height: 6rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
    transition: transform 0.2s ease;
    margin: 2rem auto;
  }
}
