#body__container {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: -16rem;
  padding: 4rem 0 8rem 0;
  text-align: center;
}

#hot-products__container {
  width: 85%;
  margin: 2rem auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#hot-text {
  color: #748B42;
  font-size: 3.5rem;
  margin: 1rem auto 3rem auto;
  font-family: 'CooperBlack';
  font-weight: 400;
}

#all-products-link {
  cursor: pointer;
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Std';
  background: none;
  color: #748B42;
}

#all-products-link:hover {
  color: #839954;
}

#all-products-link:active {
  color: #6b813a;
}

@media only screen and (min-width: 900px) {
  #body__container {
    margin-top: -10rem;
  }

  #hot-products__container {
    flex-direction: row;
  }
}
