#nav__container {
  width: 100vw;
  z-index: 1;
  height: 10rem;
  background-color: #ef3b24;
  opacity: 1;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#nav-link-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background: none;
  margin: 0 auto;
  text-align: center;
  transition: color 0.2s;
  cursor: pointer;
}

#nav-link-text:hover {
  color: #ffe4b5;
}

#logo {
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 3;
}
