.FormGroup {
  margin: 0 15px 20px;
  padding: 2rem 0;
  height: auto;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
  width: 95%;
  height: auto;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.Stripe-Element {
  width: 100%;
  height: 4rem;
  padding: 11px 15px 11px 0;
}

#card-element {
  display: block;
  width: 95%;
}

#pay-btn {
  display: block;
  font-size: 20px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
  border-radius: 4px;
  color: #fff;
  background-color: #cc69ce;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  border: none;
  will-change: transform, backgroundcolor, box-shadow;
}

#pay-btn:hover {
  background-color: #c354c5;
  transform: scale(1.01);
}

#pay-btn:active {
  background-color: #d782d9;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
  transform: scale(0.99);
}

#stripe-text-header {
  font-size: 1rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 920px) {
  form {} 

  .FormGroup {
    margin: 0 15px 20px;
    padding: 2rem 0;
    height: auto;
    border-style: none;
    background-color: #7795f8;
    will-change: opacity, transform;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
    border-radius: 4px;
  }
  
  .FormRow {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
    width: 95%;
    margin: 0 auto;
  }
  
  .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  .Stripe-Element {
    width: 100%;
    height: auto;
    padding: 11px 15px 11px 0;
  }
  
  #card-element {
    display: block;
    width: 95%;
    height: auto;
  }
  
  #pay-btn {
    display: block;
    font-size: 27px;
    width: calc(100% - 30px);
    height: 60px;
    margin: 40px 15px 0;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
    border-radius: 4px;
    color: #fff;
    background-color: #cc69ce;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    border: none;
    will-change: transform, backgroundcolor, box-shadow;
  }
  
  #stripe-text-header {
    font-size: 1rem;
    margin-left: 2rem;
  }
}