#payment__container {
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#return-to-shipping-btn {
  display: block;
  background-color: #FFE4B5;
  font-size: 1.6rem;
  width: 16rem;
  height: 5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
  transition: transform 0.2s ease;
  margin: 1rem auto 1.5rem auto;
}

#return-to-shiping-btn:active {
  transform: scale(0.95);
  background-color: #ffdea4;
}

#return-to-cart-btn {
  display: block;
  margin: 0 auto;
}

#payment-left__container {
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: none;
}

#payment-right__container {
  width: 50%;
  margin-right: auto;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
}

@media only screen and (min-width: 920px) {
  #payment__container {
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #return-to-shipping-btn {
    display: inline-block;
    background-color: #FFE4B5;
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
    transition: transform 0.2s ease;
    margin: 0 auto 1.5rem auto;
  }
  
  #return-to-shiping-btn:active {
    transform: scale(0.95);
    background-color: #ffdea4;
  }
  
  #return-to-cart-btn {
    display: block;
    margin: 0 auto;
  }
  
  #payment-left__container {
    width: 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: none;
  }
  
  #payment-right__container {
    width: 50%;
    margin-right: auto;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: none;
  }
}