#stripe__container {
  margin: 3rem auto;
  width: 80%;
  height: auto;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.Stripe-Element {
  width: 100%;
  padding: 11px 15px 11px 0;
  cursor: pointer;
}
